# =========================================================================
# Clock (25 MHz Onboard-Oszillator an G2)
# =========================================================================
LOCATE COMP "clk" SITE "G2";
IOBUF  PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# =========================================================================
# Reset-Taster: z.B. BTN_PWRn (btn[0] an D6, aktiv LOW auf dem Board)
# =========================================================================
LOCATE COMP "reset" SITE "D6";
IOBUF  PORT "reset" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# =========================================================================
# Grüne LEDs: led[0:4] (B2, C2, C1, D2, D1)
# =========================================================================
LOCATE COMP "gleds[0]" SITE "B2";
LOCATE COMP "gleds[1]" SITE "C2";
LOCATE COMP "gleds[2]" SITE "C1";
LOCATE COMP "gleds[3]" SITE "D2";
LOCATE COMP "gleds[4]" SITE "D1";

IOBUF PORT "gleds[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "gleds[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "gleds[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "gleds[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "gleds[4]" IO_TYPE=LVCMOS33;

# =========================================================================
# Rote LED: led[5] (E2)
# =========================================================================
LOCATE COMP "rled" SITE "E2";
IOBUF  PORT "rled" IO_TYPE=LVCMOS33;
