set_io --warn-no-port clk 2

set_io --warn-no-port rled 10

set_io --warn-no-port gleds[0] 11
set_io --warn-no-port gleds[1] 12
set_io --warn-no-port gleds[2] 13
set_io --warn-no-port gleds[3] 14

set_io --warn-no-port reset 15

